# Laravel
/vendor
/node_modules
/public/storage
/storage/*.key
/storage/logs/*
/.env
.env.*
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# Laravel Vite
/public/hot

# Docker and local server
Dockerfile
docker-compose.yml
docker-compose.override.yml
php.ini
nginx.conf
/conf.d

# Editor settings
/.idea
/.vscode

# Mac system files
.DS_Store

# Build artifacts
*.log
*.bak
*.swp
*.swo

